@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #030712;
  color: white;
  margin: 0;
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: rgba(255,255,255,0.1); border-radius: 2px; }
